h1,
h2,
h3,
h4 {
  text-align: center;
}

.light-text {
  color: white;
}

.light-bg {
  background-color: white;
}

.dark-text {
  color: black;
}

.dark-bg {
  background-color: black;
}
span {
  width: 100%;
  height: 100vh;
  margin: 0;
  margin-left: 23.5em;
  font-size: 24px;
  border-radius: 5px;
  padding: 25px 40px;
}
.app {
  width: 100%;
  height: 100em;
}
